#################
/animations
/asslog
/expadv2_temp
/glib
/luapad
/persist
/sf_filedata
/soundlists
/spacecombat2
/stargate
/ulx
/vnet
_playx_crash_detection.txt
ad2temp.txt
ass_config_client.txt
cl_expadv.txt
expadv.txt
expadv_compile.txt
gb-radial*
prevhash.txt
vfs_cl.txt
wire_version.txt