#################
/animations
/asslog
/expadv2_temp
/glib
/luapad
/persist
/sf_filedata
/soundlists
/spacecombat2
/stargate
/ulx
/vnet
/starfall/lib/sekret
_playx_crash_detection.txt
ad2temp.txt
ass_config_client.txt
cl_expadv.txt
expadv.txt
expadv_compile.txt
prevhash.txt
vfs_cl.txt
wire_version.txt
_autosave_.txt
_helloworld_.txt
_tabs_.txt
_shutdown_.txt
sf_tabs.txt